# Зависимости
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Переменные окружения
.env

# Файлы данных
data/

# Логи
logs
*.log

# Временные файлы операционной системы
.DS_Store
Thumbs.db

# IDE и редакторы
.idea/
.vscode/
*.swp
*.swo

# Файлы сборки
dist/
build/ 